---
/**
 * * Hero with background image
 * You'll want a mobile image, and a desktop image for this.
 */

import { Image } from "astro:assets";

// components
import Button from "@components/Button/Button.astro";

// images
import heroImage from "@images/hero.webp";
import heroImageMobile from "@images/hero.webp";
import markopen from "@images/mark_open.svg";
import markclose from "@images/mark_close.svg";
import arrow from "@images/arrow_down.gif";

---s

<section
  id="hero"
  class="relative flex min-h-[100lvh] w-full bg-black bg-opacity-50"
>
  <!-- background image -->
  <div class="absolute -z-20 h-full min-h-full w-full overflow-hidden">
    <Image
      src={heroImage}
      class="hidden h-auto min-h-full w-full object-cover object-bottom sm:block"
      alt="wedding"
      aria-hidden="true"
      loading="eager"
      height={1400}
    />
    <Image
      src={heroImageMobile}
      class="h-auto min-h-full w-full object-cover sm:hidden"
      alt="wedding"
      aria-hidden="true"
      loading="eager"
      width={1200}
    />
  </div>

  <!-- hero items -->
  <div
    class="site-container w-full gap-10 py-44 text-center md:py-52 md:text-center"
  >
    <!-- Hero text -->
    <div class="my-auto mr-auto max-w-[800px] flex-col text-base-50">
      <h1
        class="font-heading-1 text-pretty text-4xl font-semibold drop-shadow-[0_2px_2px_rgba(0,0,0,0.4)] md:text-7xl md:leading-tight"
      >
        08.06.2025
      </h1>
      <h1
      class="font-heading-1 text-pretty text-4xl font-semibold drop-shadow-[0_2px_2px_rgba(0,0,0,0.4)] md:text-7xl md:leading-tight"
      >
      Nuria & Cristian
      </h1>
      <img src={markopen.src} class="w-10" />
      <p
        class="mt-8 text-pretty text-lg tracking-widest drop-shadow-[0_1px_1px_rgba(0,0,0,0.2)] md:max-w-[550px] md:text-2xl"
      >
        En cada mirada, en cada gesto, en cada silencio compartido, encontramos la esencia de lo que significa amarnos..
      </p>
      <img src={markclose.src} class="w-10" />
      <div class="mt-10 flex flex-wrap justify-center gap-4 md:justify-start">
        <Button
          variant="ghost"
          arrow="right"
          href="/#contact"
          class="pl-0 text-xl text-white drop-shadow-[0_1px_1px_rgba(0,0,0,0.2)] md:text-3xl"
        >
          Confirmación de asistencia
        </Button>
      </div>
    </div>
  </div>
</section>

<section
    class="greater-desktop:h-screen desktop:h-[670px]  h-[670px] hero-section desktop:w-full w-full flex justify-center items-center bg-fixed bg-hero-pattern bg-cover bg-no-repeat bg-center"
>
    <div
        class="info-hero z-50 flex flex-col justify-center items-center absolute text-center mx-auto greater-desktop:max-w-3xl desktop:max-w-xl  max-w-80 h-[670px]"
    >
        <div>
            <span
                class="date-hero w-full table text-2xl desktop:text-xl  greater-desktop:text-2xl text-color02 mb-12 font-rubik font-semibold"
            >
                08.06.2025
            </span>
            <h1
                class="married-hero   custom-hero border-b-[1px] pb-8 border-b-white text-6xl greater-desktop:text-8xl text-color02 font-parisienne flex flex-col"
            >
                Nuria

                <span> & </span>
                Cristian
            </h1>
            <div
                class="text-center flex justify-center items-center flex-col mt-7 gap-5"
            >
                <img src={markopen.src} class="w-10" />
                <p class="text-xl greater-desktop:text-2xl font-rubik text-color02">
                    En cada mirada, en cada gesto, en cada silencio compartido, encontramos la esencia de lo que significa amarnos.
                </p>
                <img src={markclose.src} class="w-10" />
            </div>
        </div>
        <div class="flex justify-center mt-5 items-center">
            <img src={arrow.src} class="w-14 desktop:w-20" alt="" />
        </div>
    </div>
</section>
