---
import { Image } from 'astro:assets';

// components
import Divider from "@/components/Divider.astro";

// images
import iglesia from '@images/Icono-Boho-1.png';
import camara from '@images/Icono-Boho-3.png';
import copas from '@images/Icono-Boho-4.png';
import comida from '@images/Icono-Boho-5.png';
import fiesta from '@images/Icono-Boho-7.png';
import maletas from '@images/Icono-viajes-boda-7.png';
---



<section
    class="max-w-6xl desktop:mx-auto mx-4 text-center flex gap-20 desktop:gap-10 flex-wrap justify-center items-center mx-auto"
>
    <div class="desktop:w-[45%]">
        <img src={maletas.src} class="w-32 mx-auto" alt="icono ceremonia" />
        <h1 class="font-parisienne text-5xl text-color01">Itinerario</h1>
        <ul>
            <li>
                <img src={iglesia.src} class="w-32 mx-auto" alt="icono ceremonia" />
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    17:00hs - Ceremonia
                </span>
            </li>
            <li>
                <img src={comida.src} class="w-32 mx-auto" alt="icono ceremonia" />
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    19:30hs - Cóctel de Bienvenida
                </span>
            </li>
            <li>
                <img src={copas.src} class="w-32 mx-auto" alt="icono ceremonia" />
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    21:00hs - Cena
                </span>
            </li>
            <li>
                <img src={fiesta.src} class="w-32 mx-auto" alt="icono ceremonia" />
                <span class="text-[20px] font-normal text-[#C6C6C5]">
                    23:00hs - Fiesta
                </span>
            </li>
        </ul>
    </div>
</section>
<Divider />
<script
    type="text/javascript"
    src="https://cdn.addevent.com/libs/atc/1.6.1/atc.min.js"
    async
    defer>
</script>
<style>
    .title-pd {
        border-top: 1px solid #c6c6c5;
        border-bottom: 1px solid #c6c6c5;
    }

    ul {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    li {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    button {
        background-color: rgb(195 128 11 / 73%);
        @apply w-[280px];
        @apply mx-auto;
    }
    a {
        background-color: rgba(195, 128, 11, 0.459);
        @apply w-[280px];
        @apply mx-auto;
    }
    a:hover {
        background-color: rgb(195 128 11 / 73%);
    }
    button:hover {
        background-color: rgb(195 128 11 / 73%);
    }
    div {
        width: 100%;
        background-image: url('/src/assets/images/Fondo-flores.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
</style>